<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
  <div class="bg"> 
<!-- Navbar component  -->
<app-navbar></app-navbar>
<svg id="curve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 1260 560" enable-background="new 0 0 1260 560" >
<path fill="#fff" d="M-0.125,448.644c0,0,202.063-297.173,655.063-128.415
	s596.781-52.249,596.781-52.249l57.781-85.89V560.5H920H513H326H109H0L-0.125,448.644z"/>
</svg>
<app-home-content></app-home-content>
</div> <!-- home background -->
<!-- Home Conponent -->

</div> <!-- Wrapper -->