<div class="homeContent">
<div class="container">
    <div class="row">
      <div class="col-sm-4">
          <div class="card">
              <img class="card-img-top" src="assets/images/My_pic.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h3 class="card-title text-center">Ravi Chandra</h3>
                 <div class="skill-text"> 
                  <h4 class="anime text-center"> {{defaultText + skills }}</h4> 
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="homeText">
          <h1 class="text-center">Welcome to My Website</h1>
          <h3 class="text-center">Passionate about coding and Web Development</h3>
        </div>
      </div>
    </div>
  </div>
  </div>

